body {
  font-family: "Oswald", sans-serif !important;
}
.right-section {
  gap: 10%;
}
.left-section {
    gap: 10%;
}
.checkbox-task-area{
    gap: 2%;
}
.trash{
    cursor: pointer;
}
.bottom-container{
  gap: 1%;
}

